body {
    border: 1px solid red;
}

/* navbar css */
* {
    margin: 0px;
    padding: 0px;

}

#smart2 {
    position: absolute;
    color: #ffffff;
    bottom: 90px;
    font-weight: 700;
    line-height: 75px;
    font-size: 3em;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    left: -130px;
    top: -330px;
    padding: 0px;
    text-align: left;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    padding: 12px 6px;
}

#rat222 {
    display: none;
}

#join2 {
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    background-color: #0087DB;
    font-weight: 700;
    line-height: 21px;
    font-size: 14px;
    text-align: left;
    background-color: #0087DB;
    padding: 14px 42px;
    position: absolute;
    top: -130px;
    left: -130px;
}


.dropdown:hover .dropdown-content {
    display: block;
    /* max-width: 100%; */
    font-size: 12px;
}

/* .smart {
    position: absolute;
    transform: translateY(-250px);
  } */

.join {
    position: absolute;
    transform: translateY(-150px);
}

#join {
    transform: translate(-500px, -150px);
}


.smart {
    transform: translate(-200px, -300px);
    font-size: 60px;
}

.one {
    margin-left: 20px;
}

.two {
    margin-right: 30px;
}

.round {

    width: 180% !important;
    background-color: azure;
}

@media screen and (max-width :478px) {

    .cat {
        display: none;

    }

    .dog1 {
        border: 2px solid green;
        width: 900%;
    }

    .dog2 {
        border: 2px solid green;
        width: 100%;
    }

    .dog3 {
        border: 2px solid green;
        width: 480%;
        height: 200px;
    }

    #first {
        display: none;
    }

    #carol {
        background-color: blue;
    }

    #container {
        display: block;
    }

    #rat222 {
        display: flex;
    }

}

/* carousel css  */
.big {
    margin-top: 80px !important;
}

@media screen and (max-width:478px) {
    .big {
        margin-top: 0px !important;
    }
}

/* navbar css and carousel css end  */


#on {
    line-height: normal;
    font-weight: 700;
    font-size: 18px;
    color: #333333;
    text-align: center;
    margin-bottom: 30px;
}


#ash {
    background-color: #fafafa;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 100px;
}

#init {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 200px;
    filter: grayscale(1);
}

@media screen and (max-width:478px) {
    #init {
        margin-left: 30px;
        width: 70%;
    }

    #start h3 {
        font-size: 30px;
    }
}

#init img {
    width: 9%;
}

#start h3 {
    font-weight: 800;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0087DB;
}

#grid-container {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 70px;
    margin-right: 100px;
}

@media screen and (max-width:478px) {
    #grid-container {
        margin-left: 10px;
    }

    #grid-item p {
        font-size: 18px;
    }
}

#grid-item {
    background-color: #edf0f5;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    border: none;
}

#grid-item:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

#grid-item h5 {
    line-height: normal;
    margin: 0px;
    padding: 0px 0px 20px;
    color: #0087DB;
    font-size: 22px;
    font-weight: 700;
}

#grid-item p {
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    color: #333333;
    margin: 0px;
    padding: 0px;
}


#flex-box {
    margin-left: 90px;
    margin-right: 90px;
}

@media screen and (max-width:478px) {
    #top {
        margin-top: 500px;
    }

    #flex {
        flex-direction: column;
    }

    #flex-box {
        margin-left: -10px;
        margin-right: 10px;
        margin-top: -100px;
    }

    #flex img {
        width: 75%;
        margin-left: 45px;
        margin-bottom: -90px;
    }

    #flex-box h3 {
        text-align: center;
    }

    #flex h4 {
        text-align: center;
        margin-top: 40px;
        margin-right: 30px;
        margin-left: 0px;
    }

    #flex p {
        text-align: center;
        margin-right: 30px;
        margin-left: 0px;
    }

    #flex button {
        /* margin-left: -30px; */
        text-align: center;
        font-size: 12px;
        padding: 10px 10px;
    }

    #noy {
        margin-right: 70px;
    }

    #with-no {
        display: block;
        margin-top: 120px;
        transform: translate(-400px, -100px);
    }


    #just {
        margin-top: 150px;
    }

    #it {
        transform: translate(70px, 0px);
    }

    #it p {
        transform: translate(50px, 0px);
    }
}

#flex-box h3 {
    font-weight: 800;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0087DB;
    margin-bottom: 30px;
}

#flex {
    display: flex;
}

#with {
    margin-left: 130px;
    transform: translate(400px, -350px);
}

#high {}

#with-no {
    display: none;
}

#just {
    width: 75%;
}

#it {
    margin-left: -150px;
}

#flex h4 {
    font-weight: 700;
    font-size: 30px;
    margin-top: 160px;
    margin-left: 60px;
    padding: 0px 0px 10px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

#flex p {
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    margin-left: 60px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}


#flex button {
    margin-left: 60px;
    padding: 15px 41px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #0270b4;
    border: none;
    border-radius: 4px;
}

#search {
    position: relative;
    height: 380px;
    padding-top: 100px;
    background-color: #fafafa;
}

#search h3 {
    font-weight: 800;
    padding: 0px;
    font-size: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #0087DB;
    margin-bottom: 60px;
}

#Eden {
    position: absolute;
    margin-left: 65px;
    height: 100px;
    width: 60%;
    background-color: white;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:478px) {
    #Eden {
        width: 93%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

#goose {
    height: 750px;
    padding-top: 50px;
    background-color: black;
}

#goose h3 {
    font-weight: 800;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 0px 180px 18px;
    line-height: normal;
}

#goose p {
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: normal;
    margin-bottom: 50px;
    padding: 0px;
    font-weight: 700;
    text-align: center;
}

#infinite {
    padding-bottom: 90px;
    border-bottom: 2px solid white;
}

#infinite input {
    color: #333333;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 300px;
    padding: 13px 10px;
    width: 500px;
    font-weight: 400;
    text-align: start;
    text-indent: 6px;
}

#infinite button {
    color: #ffffff;
    font-size: 14px;
    padding: 13px 40px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
    background-color: #0087DB;
    border: none;
    border-radius: 6px;
}

#interest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 70px;
    list-style: none;
}

#nine {
    width: 60%;
    margin-right: 250px;
    margin-top: 15px;
}

#flex-interest h5 {
    color: #FFFFFF;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 0px 0px 10px;
    text-align: start;
}

#flex-interest a {
    text-decoration: none;
    color: #ffffff;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    padding: 0px;
}

#nid {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}

#nid p {
    color: #FFFFFF;
    font-weight: 400;
    line-height: normal;
    font-size: 12px;
    text-align: start;
}

#two p {
    line-height: normal;
    color: #0087DB;
    font-size: 13px;
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
    font-family: 'Poppins', sans-serif;
    text-align: start;
    margin-left: 270px;
}

#lit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
}